{% extends "layouts/base.html" %}

<!-- imports the template that the slider is goind to use in order to render -->
{% import "slideshow-template-theme/templates/slider.html" as slider %}

{% block content %}

  {{ super() }}     
    


  <!-- call to the slider currently not working -->
  {# include "chunks/slides.html" #}
  

  <p>This comes from the found-patterns-theme</p>
  <h1>{{SITENAME}}</h1>
  <!-- include "/chunks/studio-home.html" -->
  {% include "chunks/studio-home.html" %}


  <!-- static example of the template -->
  {# include "chunks/subscription-example.html" #}
  
  
{% endblock content %}