{% extends "^/layouts/base.html" %}

{% block head %}
  {{ super() }}
  {% include "headers/styles-slideshow.html" %}
  
{% endblock head %}

{% block navigation %}
  {% include "chunks/nav.html" %}

{% endblock navigation %}

{% block style %}
  {{ super() }}  
  <!-- subscritpion styles implementation -->
  {% include "headers/subscription.html" %}
  <!-- chat styles implementation -->  
  {% include "headers/chat.html" %}

{% endblock style %}

{% block content %}
  {{ super() }}
  {% include "chunks/chat.html" %}

{% endblock content %}